body 
{
    margin: 0px;
}

div.Profile {
    margin: 1%;
}
div.ProfileContent, div.providers{
    display: inline-block;
}

div.providers img{
    padding-left: 1rem;
    padding-right: 1rem;
}

header > h2.title{
    color: whitesmoke;
    text-align: center;
}

