div{
    border-style: solid;
    border-color: red;
    border-width: 0.5px;
}
body 
{
    margin: 0px;
}

/* div.Profile {
    margin: 1%;
}
div.ProfileContent, div.providers{
    display: inline-block;
}

div.providers img{
    padding-left: 1rem;
    padding-right: 1rem;
} */

body>section{
    padding-top: 2rem;
}

div.pagination{
    text-align: center;
}